/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(basemod3.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}
.xbox .stick {
    position: absolute;
    background: url(stick_eva.png);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}
